services:
  # Servicio de Base de Datos
  mysqldb:
    image: mysql:8.0
    container_name: muebleria_db_container
    ports:
    # Mapeo del puerto 3306 del contenedor al 3307 del host para evitar conflictos
      - "3307:3306"
    env_file: .env  
    environment:
      MYSQL_DATABASE: muebleria_db
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      # Persistencia de datos
      - db_data:/var/lib/mysql
    networks:
      # Recomendacion IA para evitar errores
      - muebleria_net
    restart: always
    # Verificación de salud para asegurar que MySQL esté listo antes de que la app intente conectarse
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  # Servicio de la aplicación
  app:
    build: .
    container_name: muebleria_app_container
    ports:
    # Mapeo del puerto 8080 del contenedor al 8080 del host
      - "8080:8080"
    depends_on:
      mysqldb:
        condition: service_healthy 
    env_file: .env # <--- EL BACKEND TAMBIÉN NECESITA LEERLAS
    environment:
      # Pasamos las variables para que Spring Boot las pueda leer
      SPRING_DATASOURCE_URL: ${MYSQL_URL}
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASS}
    networks:  
      - muebleria_net

volumes:
# Volumen para persistencia de datos de MySQL
  db_data:

# Definimos la red explícitamente para evitar errores de DNS
networks:
  muebleria_net:
    driver: bridge