<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mueblería Hermanos S.A</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="inicio-container">
        <h1 style="border:none; font-size: 3rem; margin-bottom: 50px;">Mueblería Hermanos S.A</h1>
        <p style="font-size: 1.2rem; margin-bottom: 30px;">Seleccione su perfil para ingresar:</p>
        
        <a href="/web/cliente/cotizar" class="perfil-btn">Soy Cliente</a>
        <a href="/web/gustavo/inventario" class="perfil-btn">Soy Gustavo (Gerente)</a>
    </div>
</body>
</html>